@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;800&amp;display=swap");
/*CSS Table Of Content Starts Here*/
/*
01. General CSS
---------------------------
Section css
---------------------------
*/
/*CSS Table Of Content Ends Here*/
:root {
  --body: #ffffff;
  --white: #ffffff;
  --title: #222E48;
  --subtitle: #222E48;
  --base: #1A4DBE;
  --base2: #FF826B;
  --base3: #FFBE57;
  --neutral: #071431;
  --pragraph: #576071;
  --pragraph2: #404A60;
  --pragraph3: #354764;
  --border: #DFE0E4;
  --danger: #ED5050;
  --success: #3FCA90;
  --ratting: #FFBE57;
  --mborder: #c9d5f0c9;
  --footer: #071431;
  --boxes1: rgba(26, 77, 190, 0.05);
  --boxes2: #FFF3F0;
  --boxes3: #FFF9EE;
  --boxes4: #E8EDF9;
  --borderdot: #C1C4CC;
  --icolor1: #9C4F41;
  --icolor2: #9C7435;
  --pagination: #1C1B1F;
  --whitep: #F5F6F7;
  --bartext: #243757;
  --barbg: #EBEBFD;
  --tableborder: #EBECEF;
}

body {
  color: var(--white);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--body);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 120%;
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 40px;
  line-height: 120%;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
@media (max-width: 575px) {
  h2 {
    font-size: 29px;
  }
}

h3 {
  font-size: 32px;
  line-height: 120%;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
@media (max-width: 575px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-size: 24px;
  line-height: 130%;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

h5 {
  font-size: 20px;
  line-height: 130%;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  font-family: "Inter", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
  color: var(--title);
  font-family: "Inter", sans-serif;
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
  color: var(--title);
}

input:focus {
  color: var(--white);
  outline: none;
}

input {
  color: var(--white);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  color: var(--pragraph-color);
  font-family: "Inter", sans-serif;
}

.fz-14 {
  font-size: 14px;
}

.fz-16 {
  font-size: 16px;
}
@media (max-width: 767px) {
  .fz-16 {
    font-size: 14px;
  }
}

.fz-18 {
  font-size: 18px;
}
@media (max-width: 767px) {
  .fz-18 {
    font-size: 16px;
  }
}

.fz-20 {
  font-size: 20px;
}
@media (max-width: 767px) {
  .fz-20 {
    font-size: 18px;
  }
}

.fz-24 {
  font-size: 24px;
}
@media (max-width: 767px) {
  .fz-24 {
    font-size: 20px;
  }
}

.fz-26 {
  font-size: 26px;
}
@media (max-width: 767px) {
  .fz-26 {
    font-size: 22px;
  }
}

.fz-30 {
  font-size: 30px;
}
@media (max-width: 767px) {
  .fz-30 {
    font-size: 26px;
  }
}

.fz-32 {
  font-size: 32px;
}
@media (max-width: 767px) {
  .fz-32 {
    font-size: 28px;
  }
}

.fz-38 {
  font-size: 38px;
}

.ifz32 {
  font-size: 32px;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.d1 {
  font-size: 80px;
  line-height: 150%;
  font-weight: 600;
  display: block;
  font-family: "Inter", sans-serif;
}

.d2 {
  font-size: 72px;
  line-height: 150%;
  font-weight: 600;
  display: block;
  font-family: "Inter", sans-serif;
}

.d3 {
  font-size: 64px;
  line-height: 150%;
  font-weight: 600;
  display: block;
  font-family: "Inter", sans-serif;
}

.d4 {
  font-size: 56px;
  line-height: 150%;
  font-weight: 600;
  display: block;
  font-family: "Inter", sans-serif;
}

.pfz-24 {
  font-size: 24px;
  line-height: 150%;
}

.pfz-20 {
  font-size: 20px;
  line-height: 150%;
}

.pfz-18 {
  font-size: 18px;
  line-height: 150%;
}

.pfz-16 {
  font-size: 16px;
  line-height: 150%;
}

.pfz-14 {
  font-size: 14px;
  line-height: 150%;
}

.pfz-12 {
  font-size: 12px;
  line-height: 150%;
}

.p-24 {
  padding: 24px;
}
@media (max-width: 991px) {
  .p-24 {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .p-24 {
    padding: 15px;
  }
}

.pt-120 {
  padding-top: 120px;
}
@media (max-width: 1199px) {
  .pt-120 {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .pt-120 {
    padding-top: 80px;
  }
}

.pb-120 {
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  .pb-120 {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .pb-120 {
    padding-bottom: 80px;
  }
}

.pt-110 {
  padding-top: 110px;
}
@media (max-width: 1199px) {
  .pt-110 {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .pt-110 {
    padding-top: 80px;
  }
}

.pb-110 {
  padding-bottom: 110px;
}
@media (max-width: 1199px) {
  .pb-110 {
    padding-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .pb-110 {
    padding-bottom: 80px;
  }
}

.pt-80 {
  padding-top: 80px;
}
@media (max-width: 991px) {
  .pt-80 {
    padding-top: 60px;
  }
}

.pb-80 {
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .pb-80 {
    padding-bottom: 60px;
  }
}

.pt-60 {
  padding-top: 60px;
}
@media (max-width: 991px) {
  .pt-60 {
    padding-top: 50px;
  }
}

.pb-60 {
  padding-bottom: 60px;
}
@media (max-width: 991px) {
  .pb-60 {
    padding-bottom: 50px;
  }
}

.pt-40 {
  padding-top: 40px;
}
@media (max-width: 991px) {
  .pt-40 {
    padding-top: 30px;
  }
}

.pb-40 {
  padding-bottom: 40px;
}
@media (max-width: 991px) {
  .pb-40 {
    padding-bottom: 30px;
  }
}

.pb-30 {
  padding-bottom: 30px;
}
@media (max-width: 991px) {
  .pb-30 {
    padding-bottom: 20px;
  }
}

.pt-30 {
  padding-top: 30px;
}
@media (max-width: 991px) {
  .pt-30 {
    padding-top: 20px;
  }
}

.pb-24 {
  padding-bottom: 24px;
}
@media (max-width: 991px) {
  .pb-24 {
    padding-bottom: 15px;
  }
}

.pt-24 {
  padding-top: 24px;
}
@media (max-width: 991px) {
  .pt-24 {
    padding-top: 15px;
  }
}

.pb-20 {
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .pb-20 {
    padding-bottom: 15px;
  }
}

.pt-20 {
  padding-top: 20px;
}
@media (max-width: 991px) {
  .pt-20 {
    padding-top: 15px;
  }
}

.pb-16 {
  padding-bottom: 16px;
}
@media (max-width: 991px) {
  .pb-16 {
    padding-bottom: 10px;
  }
}

.pt-16 {
  padding-top: 16px;
}
@media (max-width: 991px) {
  .pt-16 {
    padding-top: 10px;
  }
}

.pb-15 {
  padding-bottom: 15px;
}
@media (max-width: 991px) {
  .pb-15 {
    margin-bottom: 10px;
  }
}

.pt-15 {
  padding-top: 15px;
}
@media (max-width: 991px) {
  .pt-15 {
    margin-top: 10px;
  }
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pb5 {
  padding-bottom: 5px;
}

.pt5 {
  padding-top: 5px;
}

.p-8 {
  padding: 8px;
}

.mt-120 {
  margin-top: 120px;
}
@media (max-width: 1199px) {
  .mt-120 {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .mt-120 {
    margin-top: 80px;
  }
}

.mb-120 {
  margin-bottom: 120px;
}
@media (max-width: 1199px) {
  .mb-120 {
    margin-bottom: 100px;
  }
}
@media (max-width: 991px) {
  .mb-120 {
    margin-bottom: 80px;
  }
}

.mt-100 {
  margin-top: 100px;
}
@media (max-width: 1199px) {
  .mt-100 {
    margin-top: 90px;
  }
}
@media (max-width: 991px) {
  .mt-100 {
    margin-top: 80px;
  }
}

.mb-100 {
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  .mb-100 {
    margin-bottom: 90px;
  }
}
@media (max-width: 991px) {
  .mb-100 {
    margin-bottom: 80px;
  }
}

.mt-80 {
  margin-top: 80px;
}
@media (max-width: 991px) {
  .mt-80 {
    margin-top: 60px;
  }
}

.mb-80 {
  margin-bottom: 80px;
}
@media (max-width: 991px) {
  .mb-80 {
    margin-bottom: 60px;
  }
}

.mt-60 {
  padding-top: 60px;
}
@media (max-width: 991px) {
  .mt-60 {
    margin-top: 50px;
  }
}

.mb-60 {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .mb-60 {
    margin-bottom: 50px;
  }
}

.mt-40 {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .mt-40 {
    margin-top: 30px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .mb-40 {
    margin-bottom: 30px;
  }
}

.mb-30 {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .mb-30 {
    margin-bottom: 20px;
  }
}

.mt-30 {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .mt-30 {
    margin-top: 20px;
  }
}

.mb-24 {
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .mb-24 {
    margin-bottom: 15px;
  }
}

.mt-24 {
  padding-top: 24px;
}
@media (max-width: 991px) {
  .mt-24 {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  .mt-24 {
    margin-top: 10px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .mb-20 {
    margin-bottom: 15px;
  }
}

.mt-20 {
  padding-top: 20px;
}
@media (max-width: 991px) {
  .mt-20 {
    margin-top: 15px;
  }
}

.mb-15 {
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .mb-15 {
    margin-bottom: 10px;
  }
}

.mt-15 {
  margin-top: 15px;
}
@media (max-width: 991px) {
  .mt-15 {
    margin-top: 10px;
  }
}

.mb-16 {
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .mb-16 {
    margin-bottom: 10px;
  }
}

.mt-16 {
  margin-top: 16px;
}
@media (max-width: 991px) {
  .mt-16 {
    margin-top: 10px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb5 {
  margin-bottom: 5px;
}

.mt5 {
  margin-top: 5px;
}

.inter {
  font-family: "Inter", sans-serif;
}

.nice-select {
  background: rgba(54, 58, 237, 0.03);
  border-radius: 100px;
  border: 1px solid var(--border);
  color: var(--title);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: unset;
  outline: none;
  padding: 13px 24px 13px;
}
.nice-select:hover {
  border-color: var(--border);
}
.nice-select option {
  color: var(--white);
}
.nice-select .current {
  margin-right: 12px;
}

.nice-select:after {
  right: 23px;
  border-bottom: 1px solid var(--title);
  border-right: 1px solid var(--title);
  width: 10px;
  height: 10px;
}

.nice-select.open .list {
  background: rgba(193, 195, 248, 0.49);
  margin-top: 16px;
  width: unset;
}

.nice-select .option.selected.focus {
  background: rgba(193, 195, 248, 0.49);
  outline: none;
}

.nice-select .option {
  border: 1px solid var(--border);
}
.nice-select .option:hover {
  background: transparent;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}
.pagination a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--pagination);
  transition: all 0.4s;
}
.pagination a:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
  color: var(--white);
  border-color: var(--base);
}
.pagination a:hover i {
  color: var(--white);
}
.pagination a span {
  margin-top: -4px;
}
.pagination a span i {
  font-size: 22px;
  color: var(--text);
}

.testimonial__wraptwo .owl-dots .owl-dot span {
  background: var(--border);
  width: 8px;
  height: 8px;
}
.testimonial__wraptwo .owl-dots .owl-dot.active span {
  width: 28px;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
}

.social {
  gap: 12px;
}
.social li a {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  border: 1px solid var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
}
.social li a i {
  color: var(--white);
  font-size: 16px;
}

.cmn__icon {
  width: 36px;
  height: 36px;
  display: block;
  border-radius: 50%;
  border: 1px solid var(--base);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--white);
}
.cmn__icon i {
  color: var(--white);
  font-size: 16px;
}

.section__title .sub {
  position: relative;
  padding-left: 15px;
  display: inline-block;
}
@media (max-width: 500px) {
  .section__title .sub {
    font-size: 20px;
  }
}
@media (max-width: 470px) {
  .section__title .sub {
    font-size: 18px;
  }
}
.section__title .sub::before {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 15px;
  height: 2px;
  content: "";
  background: var(--base);
}
@media (max-width: 1199px) {
  .section__title h2 {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .section__title h2 {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .section__title h2 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .section__title h2 {
    font-size: 28px;
  }
}
@media (max-width: 470px) {
  .section__title h2 {
    font-size: 24px;
  }
}

.base {
  color: var(--base);
}

.base2 {
  color: var(--base2);
}

.base3 {
  color: var(--base3);
}

.base4 {
  color: var(--icolor1);
}

.base5 {
  color: var(--icolor2);
}

.basebor {
  border: 1px solid var(--base);
}

.base2bor {
  border: 1px solid var(--base2);
}

.base3bor {
  border: 1px solid var(--base3);
}

.base4bor {
  border: 1px solid var(--icolor1);
}

.base5bor {
  border: 1px solid var(--icolor2);
}

.basebord {
  border: 1px dashed var(--base);
}

.base2bord {
  border: 1px dashed var(--base2);
}

.base3bord {
  border: 1px dashed var(--base3);
}

.base4bord {
  border: 1px dashed var(--icolor1);
}

.base5bord {
  border: 1px dashed var(--icolor2);
}

.basebg {
  background: var(--base);
}

.base2bg {
  background: var(--base2);
}

.base3bg {
  background: var(--base3);
}

.base4bg {
  background: var(--icolor1);
}

.base5bg {
  background: var(--icolor2);
}

.ratting {
  color: var(--base3);
}

.title {
  color: #222E48;
}

.subtitle {
  color: #343E56;
}

.white {
  color: var(--white);
}

.ptext {
  color: var(--pragraph);
}

.ptext2 {
  color: var(--pragraph2);
}

.ptext3 {
  color: var(--pragraph3);
}

.bartext {
  color: var(--bartext);
}

.rattingbg {
  background: var(--ratting);
}

.gratext {
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sectionbg {
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  opacity: 0.05;
}

.bgwhtie {
  background: var(--white);
}

.transition {
  transition: all 0.4s;
}

.bg-trans {
  background: transparent !important;
}

.bord {
  border: 1px solid var(--base);
}

.bord2 {
  border: 1px solid var(--base2);
}

.bord3 {
  border: 1px solid var(--base3);
}

.bborder {
  border-bottom: 1px solid var(--border);
}

.bborderdash {
  border-bottom: 1px dashed var(--border);
}

.tborderdash {
  border-top: 1px dashed var(--border);
}

.ralt {
  position: relative;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.overhid {
  overflow: hidden;
}

.bgadd {
  position: relative;
}
.bgadd::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  opacity: 0.1;
  z-index: -1;
}

.bgwhite {
  background: var(--white);
}

.boxes1 {
  background: var(--boxes1);
}

.boxes2 {
  background: var(--boxes2);
}

.boxes3 {
  background: var(--boxes3);
}

.boxes4 {
  background: var(--boxes4);
}

.icolor1 {
  color: var(--icolor1);
}

.icolor2 {
  color: var(--icolor2);
}

.round5 {
  border-radius: 5px;
}

.round10 {
  border-radius: 10px;
}

.round16 {
  border-radius: 16px;
}

.round20 {
  border-radius: 20px;
}

.round50 {
  border-radius: 50%;
}

.shadow1 {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.shadow2 {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
}

.shadow6 {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--theme-bg);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base);
  border-radius: 10px;
}

.twitter {
  background: var(--secoundary-color) !important;
}

.twitch {
  background: rgb(110, 60, 210) !important;
}

.youtube {
  background: rgb(172, 46, 46) !important;
}

.insta {
  background: rgb(207, 93, 93) !important;
}

.lind {
  background: rgb(78, 131, 228) !important;
}

.face {
  background: rgb(27, 114, 244) !important;
}

.owl-nav .owl-prev:hover {
  background: transparent;
}
.owl-nav .owl-prev:hover i {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
  color: var(--white);
}
.owl-nav .owl-prev i {
  background: var(--white);
  width: 40px;
  height: 40px;
  border: 1px solid var(--base);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--base);
}
.owl-nav .owl-next:hover {
  background: transparent;
}
.owl-nav .owl-next:hover i {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
  color: var(--white);
}
.owl-nav .owl-next i {
  background: var(--white);
  width: 40px;
  height: 40px;
  border: 1px solid var(--base);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: var(--base);
}

.preloader__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.938);
  position: fixed;
  width: 100%;
  height: 100%;
}
.preloader__wrap .preloader__box {
  position: relative;
  z-index: 1;
}
.preloader__wrap .preloader__box .circle {
  animation: round2 4s linear infinite;
}
.preloader__wrap .preloader__box .recharge {
  position: absolute;
  top: 10px;
  width: 35px;
  left: 45%;
  transform: translateX(-50%);
  opacity: 0;
  animation: city 3s linear infinite;
}
.preloader__wrap .preloader__box .recharge img {
  width: 100%;
}
.preloader__wrap .preloader__box .pretext {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: var(--base);
  margin-top: 10px;
  display: block;
}

@keyframes round2 {
  100% {
    transform: rotate(-40deg);
  }
}
@keyframes city {
  100% {
    top: 30px;
    opacity: 1;
  }
}
.header-section {
  width: 100%;
}

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.9s;
  background-color: rgb(245, 244, 255);
  box-shadow: 0px -31px 32px 9px #234DD4;
}
.menu-fixed .header-wrapper {
  padding: 15px 0;
}
@media (max-width: 991px) {
  .menu-fixed .header-wrapper .main-menu {
    top: 55px;
  }
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.9s;
  width: 100%;
  position: relative;
  padding: 30px 0;
}
@media (max-width: 991px) {
  .header-wrapper {
    z-index: 999999;
  }
}
.header-wrapper .logo-menu .logo {
  display: block;
  width: 250px;
}
.header-wrapper .logo-menu .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1199px) {
  .header-wrapper .logo-menu .logo {
    display: none;
  }
}
.header-wrapper .small__logo {
  display: block;
  width: 60px;
  height: 45px;
}
.header-wrapper .small__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-wrapper .main-menu {
  display: flex;
  align-items: center;
  gap: 0 24px;
}
@media (max-width: 991px) {
  .header-wrapper .main-menu {
    max-width: 100%;
  }
}
.header-wrapper .main-menu li {
  transition: all 0.6s;
  position: relative;
}
.header-wrapper .main-menu li a {
  color: var(--subtitle);
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s;
  text-transform: capitalize;
}
.header-wrapper .main-menu li a:hover {
  color: var(--success);
}
.header-wrapper .main-menu li a i {
  margin-left: 2px;
  font-size: 14px !important;
  color: var(--base-color);
}
.header-wrapper .main-menu li .sub-menu {
  padding: 5px 5px 5px 5px;
  background-color: var(--banner);
  transition: all 4s;
}
@media (min-width: 992px) {
  .header-wrapper .main-menu li .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    z-index: 999;
    transition: all 0.3s;
    background: var(--white);
    box-shadow: -1px 7px 19px -14px rgb(66, 106, 184);
    border-radius: 10px;
    justify-content: center;
    opacity: 0;
    gap: 5px;
    transform: translateY(25px);
    visibility: hidden;
  }
}
.header-wrapper .main-menu li .sub-menu li {
  margin-right: 0;
  transition: all 0.3s !important;
}
.header-wrapper .main-menu li .sub-menu li a {
  color: var(--title) !important;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  display: block;
  padding: 5px 8px;
  margin: 1px;
  border-radius: 8px;
}
.header-wrapper .main-menu li .sub-menu li a i {
  font-size: 14px !important;
}
.header-wrapper .main-menu li .sub-menu li:hover a {
  margin-left: 10px;
}
.header-wrapper .main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}
.header-wrapper .menu__right__components {
  gap: 15px;
}
@media (max-width: 500px) {
  .header-wrapper .menu__right__components {
    gap: 10px;
  }
}
.header-wrapper .menu__components {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header-wrapper .menu__components i {
  color: var(--title);
}
.header-wrapper .menu__components .tolly__shop a {
  display: block;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
}
@media (max-width: 500px) {
  .header-wrapper .menu__components .tolly__shop a {
    width: 30px;
    height: 30px;
  }
  .header-wrapper .menu__components .tolly__shop a i {
    font-size: 18px;
  }
}
@media (max-width: 500px) {
  .header-wrapper .menu__components {
    gap: 8px;
  }
}
@media (max-width: 500px) {
  .header-wrapper .menu__components .cmn--btn {
    padding: 7px 12px 9px;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .main-menu {
    position: fixed;
    top: 85px;
    width: 100%;
    left: 0;
    display: inline !important;
    margin-top: 20px;
    z-index: 999;
    padding: 15px 15px;
    transition: all 0.4s !important;
    transform-origin: top;
    max-height: calc(100vh - 130px);
    background: rgba(228, 230, 245, 0.9882352941);
    overflow-y: auto;
  }
  .main-menu:not(.active) {
    position: fixed;
    left: -100%;
    top: 85px;
  }
  .main-menu li {
    width: 100%;
    border-radius: 2px;
    margin-right: 0 !important;
    margin-bottom: 7px;
    border: 1px solid rgba(170, 181, 200, 0.5);
  }
  .main-menu li a {
    display: block;
    padding: 8px 10px 6px;
    font-size: 17px;
  }
  .main-menu li .sub-menu {
    display: none;
    margin: 0px 10px 15px 20px !important;
  }
  .main-menu li .sub-menu li a {
    color: var(--white) !important;
    padding: 8px 15px !important;
  }
  .main-menu li .sub-menu li .sub-two {
    position: static !important;
    width: 100% !important;
    padding: 0 10px 20px 30px;
  }
  .main-menu li .sub-menu li .sub-two li a {
    display: block;
  }
  .main-menu .active a {
    color: var(--white);
  }
  .header-bar {
    position: relative;
    width: 31px;
    height: 20px;
  }
  .header-bar span {
    position: absolute;
    width: 100%;
    height: 2px;
    display: inline-block;
    transition: all 0.3s;
    left: 0;
    background: var(--title);
  }
  .header-bar span:first-child {
    top: 0;
    background: var(--title);
  }
  .header-bar span:nth-child(2) {
    top: 44%;
    background: var(--title);
  }
  .header-bar span:last-child {
    bottom: 0;
    background: var(--title);
  }
  .header-bar.active span:first-child {
    transform: rotate(45deg) translate(3px, 9px);
  }
  .header-bar.active span:nth-child(2) {
    opacity: 0;
  }
  .header-bar.active span:last-child {
    transform: rotate(-45deg) translate(3px, -9px);
  }
  .header-bar:hover {
    cursor: pointer;
  }
  .header-wrapper .main-menu li .sub-menu li a {
    color: var(--success) !important;
  }
}
@media (max-width: 991px) {
  .header__sectiontwo .main-menu {
    background: #112f75;
  }
}
.header__sectiontwo .main-menu li a {
  color: var(--white);
}
.header__sectiontwo .main-menu li .sub-menu li a {
  color: var(--white);
}
.header__sectiontwo .header-bar span {
  background: var(--white);
}

.header__sectiontwo.menu-fixed {
  background: #112f75;
}

.search__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  animation: slideIn 0.3s ease-in-out;
  z-index: 999;
}
.search__popup .popup-content input {
  width: 100%;
  height: 110px;
  border: unset;
  padding: 5px 40px;
  color: var(--pragraph);
  font-size: 18px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.search__popup .popup-content ::-moz-placeholder {
  color: var(--title);
}
.search__popup .popup-content ::placeholder {
  color: var(--title);
}
.search__popup .popup-content button {
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  height: 110px;
  padding: 0;
  width: 160px;
  border: unset;
}
.search__popup .popup-content button i {
  font-size: 48px;
  color: var(--white);
}

#searchBtn {
  border: unset;
  padding: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
}
@media (max-width: 500px) {
  #searchBtn {
    width: 30px;
    height: 30px;
  }
  #searchBtn i {
    font-size: 18px;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.search__popup.open {
  display: block;
}

.search__popup.close {
  animation: slideOut 0.3s ease-in-out;
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.banner__content {
  padding: 100px 0 210px;
}
.banner__content .sub {
  padding-left: 15px;
}
@media (max-width: 500px) {
  .banner__content .sub {
    font-size: 20px;
  }
}
.banner__content .sub::before {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 15px;
  height: 2px;
  content: "";
  background: var(--base);
}
.banner__content .sub2 {
  padding-left: 15px;
}
@media (max-width: 500px) {
  .banner__content .sub2 {
    font-size: 20px;
  }
}
.banner__content .sub2::before {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 15px;
  height: 2px;
  content: "";
  background: var(--base2);
}
@media (max-width: 1399px) {
  .banner__content .d1 {
    font-size: 58px;
    line-height: 130%;
  }
}
@media (max-width: 767px) {
  .banner__content .d1 {
    font-size: 48px;
  }
}
@media (max-width: 500px) {
  .banner__content .d1 {
    font-size: 36px;
  }
}
.banner__content .ball {
  position: absolute;
  top: 20px;
  left: -120px;
  z-index: -1;
  animation: cir360 17s linear infinite;
}
@media (max-width: 1399px) {
  .banner__content {
    padding: 80px 0 180px;
  }
}
@media (max-width: 991px) {
  .banner__content {
    padding: 80px 0 20px;
  }
}
@media (max-width: 767px) {
  .banner__content {
    padding: 60px 0 20px;
  }
}

.sub2 {
  padding-left: 15px;
}
@media (max-width: 500px) {
  .sub2 {
    font-size: 20px;
  }
}
.sub2::before {
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 15px;
  height: 2px;
  content: "";
  background: var(--base2);
}

.btn__grp {
  gap: 24px;
}
@media (max-width: 575px) {
  .btn__grp {
    gap: 14px;
  }
}
@media (max-width: 500px) {
  .btn__grp {
    gap: 14px;
  }
  .btn__grp .cmn--btn {
    padding: 9px 14px 9px;
    font-size: 14px;
  }
}

.banner__shapethumb .thumb {
  max-width: 500px;
  padding-top: 100px;
  padding-left: 50px;
}
@media (max-width: 1199px) {
  .banner__shapethumb .thumb {
    padding-left: 30px;
  }
}
@media (max-width: 575px) {
  .banner__shapethumb .thumb {
    width: 100%;
    padding-top: 50px;
  }
  .banner__shapethumb .thumb img {
    width: 100%;
  }
}
.banner__shapethumb .circle__thumb {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: cir90 15s linear infinite;
}
@media (max-width: 991px) {
  .banner__shapethumb .circle__thumb {
    width: 100%;
  }
  .banner__shapethumb .circle__thumb img {
    width: 100%;
  }
}

.wallet {
  position: absolute;
  top: 40px;
  left: 50%;
  opacity: 0.45;
}
@media (max-width: 991px) {
  .wallet {
    width: 40px;
  }
  .wallet img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .wallet {
    left: 60%;
  }
}

.hand-wallet {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.45;
}
@media (max-width: 1199px) {
  .hand-wallet {
    display: none;
  }
}

.mobile-wallet {
  position: absolute;
  bottom: 30px;
  right: 30px;
  opacity: 0.45;
}
@media (max-width: 1199px) {
  .mobile-wallet {
    display: none;
  }
}

.banner__sectiontwo {
  background: url(../img/banner/banner2-bg.jpg) no-repeat center center;
  background-size: cover;
}
.banner__sectiontwo .round__shape {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 500px) {
  .banner__sectiontwo .round__shape {
    margin-bottom: -50px;
  }
}
.banner__sectiontwo .element1 {
  position: absolute;
  top: 110px;
  left: 120px;
  width: 150px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .banner__sectiontwo .element1 {
    display: none;
  }
}
.banner__sectiontwo .element1 img {
  width: 100%;
}
.banner__sectiontwo .element2 {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 140px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .banner__sectiontwo .element2 {
    display: none;
  }
}
.banner__sectiontwo .element2 img {
  width: 100%;
}
.banner__sectiontwo .element3 {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 140px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .banner__sectiontwo .element3 {
    display: none;
  }
}
.banner__sectiontwo .element3 img {
  width: 100%;
}
.banner__sectiontwo .element4 {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 140px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .banner__sectiontwo .element4 {
    display: none;
  }
}
.banner__sectiontwo .element4 img {
  width: 100%;
}

.banner__content2box {
  max-width: 670px;
}
.banner__content2box .d2 {
  line-height: 130%;
}

@media (max-width: 767px) {
  .pt__spacenone {
    padding-top: 30px;
  }
}

.banner__breadcumn {
  background: url(../img/banner/beadcumnd-bg.jpg) no-repeat top center;
  background-size: cover;
}
.banner__breadcumn .element1 {
  position: absolute;
  top: 63px;
  left: 98px;
  width: 133px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .banner__breadcumn .element1 {
    display: none;
  }
}
.banner__breadcumn .element1 img {
  width: 100%;
}
.banner__breadcumn .element2 {
  position: absolute;
  top: 120px;
  left: 35%;
  width: 93px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .banner__breadcumn .element2 {
    display: none;
  }
}
.banner__breadcumn .element2 img {
  width: 100%;
}
.banner__breadcumn .element3 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 100px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .banner__breadcumn .element3 {
    display: none;
  }
}
.banner__breadcumn .element3 img {
  width: 100%;
}
.banner__breadcumn .element4 {
  position: absolute;
  bottom: 40px;
  right: 80px;
  width: 140px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .banner__breadcumn .element4 {
    display: none;
  }
}
.banner__breadcumn .element4 img {
  width: 100%;
}
.banner__breadcumn .element5 {
  position: absolute;
  bottom: 7%;
  left: 25%;
  width: 80px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .banner__breadcumn .element5 {
    display: none;
  }
}
.banner__breadcumn .element5 img {
  width: 100%;
}

.breadcumnd__wrapper {
  padding: 5px 0 30px;
}
@media (max-width: 1199px) {
  .breadcumnd__wrapper .breadcumnd__content .d4 {
    font-size: 48px;
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .breadcumnd__wrapper .breadcumnd__content .d4 {
    font-size: 36px;
    margin-bottom: 5px;
  }
}
@media (max-width: 500px) {
  .breadcumnd__wrapper .breadcumnd__content .d4 {
    font-size: 34px;
    margin-bottom: 8px;
  }
}
@media (max-width: 575px) {
  .breadcumnd__wrapper .featured__card {
    max-width: 300px;
    margin-top: 30px;
  }
}

.gift__thumbbanner {
  margin-bottom: -100px;
}

.find__searchcard {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  padding: 40px;
  background: var(--white);
  margin-bottom: -80px;
  transform: translateY(-50%);
}
@media (max-width: 575px) {
  .find__searchcard {
    transform: translateY(-20%);
    padding: 20px;
  }
}

@media (max-width: 1399px) {
  .card__find__item .cmn--btn {
    font-size: 14px;
  }
}

.find__searchcartwo {
  margin-bottom: 0px;
  transform: translateY(0%);
}
@media (max-width: 1399px) {
  .find__searchcartwo .card__find__item span {
    font-size: 16px;
  }
}
.find__searchcartwo .card__find__item .nice-select {
  width: 100%;
}
.find__searchcartwo .card__find__item .cmn--btn {
  width: 100%;
  text-align: center;
}
@media (max-width: 1399px) {
  .find__searchcartwo .card__find__item .cmn--btn {
    font-size: 12px;
    font-weight: 400;
  }
}

.banner__shapethumb2 {
  padding: 0 40px;
}
@media (max-width: 1600px) {
  .banner__shapethumb2 {
    width: 600px;
  }
  .banner__shapethumb2 img {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .banner__shapethumb2 {
    width: 500px;
    padding-left: 0;
  }
}
@media (max-width: 500px) {
  .banner__shapethumb2 {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .banner__content2box h4 {
    font-size: 20px;
  }
  .banner__content2box .d2 {
    font-size: 42px;
  }
}
@media (max-width: 575px) {
  .banner__content2box h4 {
    font-size: 16px !important;
  }
  .banner__content2box .d2 {
    font-size: 32px;
  }
  .banner__content2box p {
    font-size: 16px;
  }
}

.howwork__item {
  padding: 15px;
  border: 1px solid var(--white);
}
.howwork__item .thumb {
  width: 120px;
  height: 120px;
}
.howwork__item .thumb img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.howwork__item:hover {
  border-color: var(--mborder);
}
.howwork__item:hover .thumb {
  transform: rotate(5deg);
}
.howwork__item:hover a {
  color: var(--base);
}
.howwork__item .arrow1::before,
.howwork__item .arrow2::before,
.howwork__item .arrow3::before {
  position: absolute;
  bottom: 0;
  left: 100%;
  content: "";
  width: 200px;
  height: 120px;
  background: url(../img/cards/an-shap1.png) no-repeat center;
  background-size: contain;
}
@media (max-width: 1199px) {
  .howwork__item .arrow1::before,
  .howwork__item .arrow2::before,
  .howwork__item .arrow3::before {
    display: none;
  }
}
.howwork__item .arrow2::before {
  background: url(../img/cards/an-shale2.png) no-repeat center center;
  background-size: contain;
}
.howwork__item .arrow3::before {
  background: url(../img/cards/an-shape3.png) no-repeat center center;
  background-size: contain;
  bottom: -40px;
}

.tershape1 {
  position: relative;
}
.tershape1::before {
  position: absolute;
  top: -10px;
  left: calc(100% + 10px);
  width: 250px;
  height: 200px;
  content: "";
  background: url(../img/work/how-shape1.png) no-repeat center;
  background-size: contain;
}
@media (max-width: 1399px) {
  .tershape1::before {
    width: 200px;
  }
}
@media (max-width: 1199px) {
  .tershape1::before {
    width: 150px;
  }
}
@media (max-width: 767px) {
  .tershape1::before {
    display: none;
  }
}

.tershape2 {
  position: relative;
}
.tershape2::before {
  position: absolute;
  bottom: calc(100% - 70px);
  left: calc(100% + 10px);
  width: 250px;
  height: 200px;
  content: "";
  background: url(../img/work/show-shape2.png) no-repeat center;
  background-size: contain;
}
@media (max-width: 1399px) {
  .tershape2::before {
    width: 200px;
  }
}
@media (max-width: 1199px) {
  .tershape2::before {
    width: 150px;
  }
}
@media (max-width: 991px) {
  .tershape2::before {
    display: none;
  }
}

.custom-120 {
  padding-top: 120px;
}
@media (max-width: 767px) {
  .custom-120 {
    padding-top: 0;
  }
}

.work__icon {
  background: var(--white);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  width: 135px;
  height: 135px;
  padding: 16px;
}
.work__icon i {
  font-size: 62px;
  padding: 20px;
}

.badge {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

.call__section {
  margin: 0 150px;
}
@media (max-width: 1600px) {
  .call__section {
    margin: 0 0px;
  }
}
.call__section::before {
  position: absolute;
  content: "";
  background: url(../img/cards/cal-bg.jpg) no-repeat center center;
  background-size: cover;
  z-index: -1;
  width: 100%;
  top: 0;
  bottom: 0;
  border-radius: 16px;
}
.call__section .element1 {
  position: absolute;
  top: 35px;
  left: 71px;
  width: 150px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .call__section .element1 {
    display: none;
  }
}
.call__section .element1 img {
  width: 100%;
}
.call__section .element2 {
  position: absolute;
  top: 44px;
  left: 42%;
  width: 110px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .call__section .element2 {
    display: none;
  }
}
.call__section .element2 img {
  width: 100%;
}
.call__section .element3 {
  position: absolute;
  top: 40px;
  right: 307px;
  width: 120px;
  animation: cir90 5s linear infinite;
}
@media (max-width: 767px) {
  .call__section .element3 {
    display: none;
  }
}
.call__section .element3 img {
  width: 100%;
}
.call__section .element4 {
  position: absolute;
  bottom: 40px;
  right: 60px;
  width: 140px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .call__section .element4 {
    display: none;
  }
}
.call__section .element4 img {
  width: 100%;
}
.call__section .element5 {
  position: absolute;
  bottom: 40px;
  left: 50%;
  width: 100px;
  animation: cir5 2s linear infinite;
}
@media (max-width: 767px) {
  .call__section .element5 {
    display: none;
  }
}
.call__section .element5 img {
  width: 100%;
}

.select__cardbox {
  padding: 24px;
  gap: 10px 24px;
  border-radius: 16px;
}
.select__cardbox .thumb {
  background: var(--white);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.select__cardbox h4 {
  width: calc(100% - 120px);
}
.select__cardbox:hover .thumb {
  transform: rotateX(-360deg);
}
@media (max-width: 1399px) {
  .select__cardbox {
    padding: 22px 14px;
    gap: 10px 14px;
  }
  .select__cardbox .thumb {
    width: 60px;
    height: 60px;
  }
  .select__cardbox .thumb img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .select__cardbox h4 {
    width: calc(100% - 60px);
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .select__cardbox {
    padding: 16px 18px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .select__cardbox .thumb {
    width: 60px;
    height: 60px;
  }
  .select__cardbox .thumb img {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .select__cardbox h4 {
    width: 100%;
  }
}

.choose__listwrap {
  border-bottom: 1px dashed var(--borderdot);
  padding-bottom: 40px;
}
.choose__listwrap li {
  gap: 24px;
}
.choose__listwrap li i {
  width: 72px;
  height: 72px;
  padding: 16px;
}
.choose__listwrap li .contentbox {
  width: calc(100% - 80px);
}

@media (max-width: 500px) {
  .marketplace__user {
    gap: 18px;
  }
}
.marketplace__user .icon {
  width: 60px;
  height: 60px;
}
.marketplace__user .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}
.marketplace__user .janas__item {
  border-right: 1px solid var(--border);
  padding-right: 24px;
  margin-right: 24px;
}

.choose__mthumb {
  padding: 40px;
}

.mapthumb {
  position: absolute;
  left: -40%;
  top: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .mapthumb {
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.task__listwrap {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px dashed var(--borderdot);
}
.task__listwrap li {
  width: 50%;
  padding: 5px 0;
}
@media (max-width: 1199px) {
  .task__listwrap li span {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .task__listwrap li {
    width: 100%;
  }
}

.choose__thumb2 {
  padding-right: 40px;
}
@media (max-width: 991px) {
  .choose__thumb2 {
    padding-right: 0;
    padding: 30px 40px;
  }
}

.top__ratedwrapper .owl-dots .owl-dot span {
  background: var(--border);
  width: 8px;
  height: 8px;
}
.top__ratedwrapper .owl-dots .owl-dot.active span {
  width: 28px;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
}

.top__items {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
  padding: 40px 40px;
  background: var(--white);
  transition: all 0.4s;
}
.top__items .icon {
  transition: all 0.3s;
  width: 100px;
  height: 100px;
}
.top__items .icon i {
  font-size: 48px;
}
.top__items .arrow {
  width: 48px;
  height: 48px;
}
.top__items .arrow i {
  color: var(--base);
  font-size: 24px;
}
.top__items:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
}
.top__items:hover .icon {
  transform: rotateX(360deg);
}
.top__items:hover .icon i {
  color: var(--base);
}
.top__items:hover .content h4 a {
  color: var(--white);
}
.top__items:hover .content h3 a {
  color: var(--white);
}
.top__items:hover .content p {
  color: var(--white);
}
.top__items:hover .content .arrow {
  background: var(--white);
}
.top__items:hover .content .outline__btn span {
  color: var(--white);
}
@media (max-width: 991px) {
  .top__items h3 {
    font-size: 22px;
  }
}
@media (max-width: 1600px) {
  .top__items {
    padding: 30px 25px;
  }
}
@media (max-width: 1600px) {
  .top__items {
    padding: 25px 15px;
  }
}

.suctom__space {
  margin: 30px 20px;
}
@media (max-width: 1600px) {
  .suctom__space {
    margin: 25px 10px;
  }
}

.top__categorieswrap .top__items {
  gap: 32px;
  border-bottom: 1px solid var(--border);
  padding: 0;
  box-shadow: none;
  padding: 40px 0;
  border-radius: 5px;
}
.top__categorieswrap .top__items:hover {
  padding: 35px 10px 35px;
  background: var(--base2);
}
@media (max-width: 1199px) {
  .top__categorieswrap .top__items {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .top__categorieswrap .top__items {
    padding: 20px 0;
  }
}
@media (max-width: 500px) {
  .top__categorieswrap .top__items {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
.top__categorieswrap .icon {
  min-width: 100px;
}
.top__categorieswrap .arrow {
  min-width: 48px;
  justify-content: center;
}

.top__cardnew__wrap .top__items {
  padding: 0 0;
  box-shadow: none;
}
.top__cardnew__wrap .top__items:hover {
  padding: 10px 15px;
  box-shadow: inherit;
}
.top__cardnew__wrap .top__items p {
  font-size: 14px;
}
.top__cardnew__wrap .top__items .cmn--btn::before {
  background: var(--white);
}
.top__cardnew__wrap .top__items .cmn--btn span {
  color: var(--base) !important;
}

.top__reviwthumb {
  width: 750px;
}
.top__reviwthumb img {
  width: 100%;
}
@media (max-width: 1199px) {
  .top__reviwthumb {
    width: 600px;
  }
}
@media (max-width: 991px) {
  .top__reviwthumb {
    display: none;
  }
}

.community__contetn .thumb__map {
  position: absolute;
  top: -80px;
  left: 0;
}

.provide__section .ball {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 170px;
  height: 170px;
  animation: cir360 8s linear infinite;
}
.provide__section .ball img {
  width: 100%;
  height: 100%;
}

.provide__listwrap {
  padding-bottom: 0;
  border-bottom: unset;
  gap: 10px 24px;
}
@media (max-width: 1199px) {
  .provide__listwrap {
    gap: 10px 14px;
  }
}
@media (max-width: 991px) {
  .provide__listwrap {
    gap: 10px 24px;
  }
}
@media (max-width: 575px) {
  .provide__listwrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 991px) {
  .provide__thumb {
    padding: 10px 30px;
  }
}

.counter__wrap {
  background: var(--white);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
}

.counter__items .counter__content {
  gap: 32px;
}
@media (max-width: 767px) {
  .counter__items .counter__content {
    gap: 24px;
  }
}
.counter__items .counter__content .iconbox {
  width: 100px;
  height: 100px;
}
.counter__items .counter__content .iconbox i {
  font-size: 56px;
}
.counter__items .counter__content .content .odometer {
  font-size: 56px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 120%;
}
@media (max-width: 991px) {
  .counter__items .counter__content .content .odometer {
    font-size: 48px;
  }
}
.counter__items .counter__content .content .added {
  font-size: 56px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 120%;
}
@media (max-width: 991px) {
  .counter__items .counter__content .content .added {
    font-size: 48px;
  }
}

.card__rated::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 62%;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  opacity: 0.1;
  z-index: -1;
}

.app__listwrap {
  position: relative;
}
.app__listwrap::before {
  position: absolute;
  left: 10px;
  top: 0;
  height: 100%;
  border-width: 1px;
  border: 1px dashed #7A98D9;
  content: "";
  z-index: -1;
}
.app__listwrap li:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 575px) {
  .app__listwrap li:not(:last-child) {
    margin-bottom: 14px;
  }
}
.app__listwrap li a {
  gap: 12px;
}
.app__listwrap li a i {
  background: var(--base);
  width: 24px;
  height: 24px;
  font-size: 16px;
}

.app__store a {
  border: 1px solid var(--base);
  border-radius: 100px;
  padding: 10px;
  display: block;
}
.app__store a img {
  width: 100%;
}

.shape__ball {
  position: absolute;
  top: 88px;
  left: 88px;
  width: 160px;
  height: 160px;
  z-index: -1;
}
.shape__ball img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

@media (max-width: 991px) {
  .app__thumb {
    max-width: 400px;
    margin: 0 auto 15px;
  }
  .app__thumb img {
    width: 100%;
  }
}

.accordion__wrap .accordion-item {
  border: none;
}
.accordion__wrap .accordion-item:not(:last-child) {
  margin-bottom: 16px;
}
.accordion__wrap .accordion-item .accordion-header .accordion-button {
  background: transparent;
  border-radius: 5px;
  box-shadow: none;
  font-size: 18px;
  line-height: 150%;
  font-weight: 500;
  color: var(--title);
  background: linear-gradient(90deg, rgba(26, 77, 190, 0.05) 0%, rgba(174, 94, 190, 0.05) 100%);
  font-family: "Inter", sans-serif;
}
@media (max-width: 500px) {
  .accordion__wrap .accordion-item .accordion-header .accordion-button {
    font-size: 1rem;
  }
}
.accordion__wrap .accordion-item .accordion-header .accordion-button::after {
  background: url(../img/faq/plus.png) no-repeat center center;
  background-size: 1.5vh;
  background-color: #b113d0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.accordion__wrap .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  background-image: none;
  transform: none;
  background: url(../img/faq/remove.png) no-repeat center center;
  background-size: 1vh;
  background-color: var(--danger);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.accordion__wrap .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: var(--title);
  background: var(--white);
  box-shadow: none;
  border: 1px solid var(--border);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px dashed var(--border);
}
.accordion__wrap .accordion-body {
  border: 1px solid var(--border);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: unset;
}
.accordion__wrap .accordion-body p {
  font-size: 14px;
  color: var(--pragraph);
  line-height: 150%;
  font-family: "Inter", sans-serif;
}

.popular__tabs .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  border-bottom: unset;
}
@media (max-width: 767px) {
  .popular__tabs .nav {
    gap: 14px;
  }
}
.popular__tabs .nav .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  border-radius: 100px;
  border: 1px solid var(--base);
}
.popular__tabs .nav .nav-link .icon {
  margin-bottom: -6px;
}
.popular__tabs .nav .nav-link .icon i {
  font-size: 26px;
  color: var(--base);
}
.popular__tabs .nav .nav-link span {
  font-size: 20px;
  font-weight: 500;
  color: var(--base);
  font-family: "Inter", sans-serif;
}
.popular__tabs .nav .nav-link.active {
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
}
.popular__tabs .nav .nav-link.active .icon i {
  color: var(--white);
}
.popular__tabs .nav .nav-link.active span {
  color: var(--white);
}

.popular__items {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
  padding: 8px;
}
.popular__items .content {
  max-width: 300px;
  margin: 0 auto;
  padding: 24px 10px;
}
.popular__items .content .cmn--btn {
  width: 190px;
  margin: 0 auto;
  justify-content: center;
}
.popular__items .content .cmn--btn .icon {
  margin-top: 5px;
}

.popular__v2 {
  display: flex;
  align-items: center;
  padding: 32px 32px;
}
@media (max-width: 991px) {
  .popular__v2 {
    padding: 30px 20px;
  }
}
@media (max-width: 767px) {
  .popular__v2 {
    flex-wrap: wrap;
  }
}
@media (max-width: 470px) {
  .popular__v2 h3 {
    font-size: 22px;
  }
  .popular__v2 .cmn--btn {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.card__boxleft {
  border-right: 1px dashed var(--border);
  padding-right: 40px;
  margin-right: 40px;
}
@media (max-width: 991px) {
  .card__boxleft {
    padding-right: 18px;
    margin-right: 18px;
  }
}
@media (max-width: 767px) {
  .card__boxleft {
    margin-right: 0;
    padding-right: 0;
    border-right: unset;
    border-bottom: 1px dashed var(--border);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 20px;
  }
}
.card__boxleft .aplication {
  padding-left: 10px;
}
.card__boxleft .aplication::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  left: 0;
  top: 10px;
  background: var(--base);
  border-radius: 50%;
}
@media (max-width: 767px) {
  .card__boxleft .aplication {
    text-align: left;
  }
}

.compare__btn {
  gap: 8px;
}
.compare__btn i {
  background: rgba(26, 77, 190, 0.05);
  width: 36px;
  height: 36px;
}

.ctband__item {
  background: rgba(26, 77, 190, 0.05);
  border-radius: 32px;
  padding: 8px 16px;
}

.bank__detals {
  margin-bottom: 32px;
}
.bank__detals .bankd__wrap {
  width: 50%;
}
.bank__detals .bankd__wrap li:not(:last-child) {
  margin-bottom: 8px;
}

.left__border {
  border-left: 1px dashed var(--border);
  padding-left: 24px;
  margin-left: 24px;
}
@media (max-width: 470px) {
  .left__border {
    padding-left: 10px;
    margin-left: 10px;
  }
}

.card__boxright .card__info {
  background: rgba(26, 77, 190, 0.05);
  border-radius: 16px;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 400;
  color: var(--pragraph2);
  font-family: "Inter", sans-serif;
}
.card__boxright .card__btngrp {
  border-bottom: 1px dashed var(--border);
  padding-bottom: 32px;
  margin-bottom: 32px;
  gap: 16px;
}
@media (max-width: 991px) {
  .card__boxright .card__btngrp {
    gap: 10px;
    flex-wrap: wrap;
  }
}

.popular__v3 {
  padding: 28px;
}
.popular__v3 .card__boxleft {
  margin-right: 0;
  padding-right: 0;
  border-right: unset;
}
@media (max-width: 767px) {
  .popular__v3 .card__boxleft {
    border-bottom: unset;
    padding-bottom: 0;
    margin: 0;
  }
}
.popular__v3 .cmn--btn {
  width: 170px;
  justify-content: center;
}
.popular__v3 .bank__detals {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .popular__v3 {
    padding: 18px;
  }
  .popular__v3 .inner__cardv3 {
    flex-wrap: wrap;
    gap: 18px;
  }
}

.inner__cardv3 {
  gap: 40px;
}

.hightlight__list li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hightlight__list li i {
  font-size: 18px;
}
.hightlight__list li:not(:last-child) {
  margin-bottom: 8px;
}

.expert__review .progress {
  background: var(--barbg);
  width: 100%;
  height: 12px;
}

.progras__item .arp-title {
  width: 160px;
}
@media (max-width: 500px) {
  .progras__item {
    flex-wrap: wrap;
  }
}

.fees__items {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
  padding: 28px;
}
@media (max-width: 767px) {
  .fees__items {
    padding: 18px;
  }
}

.we__counting .counter__content .iconbox {
  width: 84px;
  height: 84px;
}
.we__counting .counter__content .iconbox i {
  font-size: 46px;
}
.we__counting .counter__content .content .odometer,
.we__counting .counter__content .content .added {
  font-size: 40px;
}

.testimonial__slider .owl-nav {
  margin-top: 30px;
  justify-content: flex-start;
  display: flex;
}
.testimonial__slider .owl-nav .owl-prev:hover {
  background: transparent;
}
.testimonial__slider .owl-nav .owl-next:hover {
  background: transparent;
}

.testimonial__items {
  padding: 24px 24px;
  border: 1px solid var(--border);
}
.testimonial__items::before {
  border-radius: 16px;
}

.testimonial__sectiontwo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: url(../img/testimonial/top-cardbg.jpg) no-repeat top center;
  background-size: cover;
  content: "";
}

.testimonial__wraptwo .testimonial__items {
  background: var(--white);
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
  border: unset;
  margin-bottom: 25px;
}
.testimonial__wraptwo .testimonial__items .quote {
  width: 84px;
  height: 84px;
  background: rgba(26, 77, 190, 0.05);
}
.testimonial__wraptwo .testimonial__items .quote i {
  font-size: 48px;
}

.select__sort .nice-select {
  width: 180px;
}

.card__common__item {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  padding: 24px 24px;
}
.card__common__item form {
  background: rgba(26, 77, 190, 0.05);
  border-radius: 100px;
  padding: 12px 15px;
}
.card__common__item form input {
  width: 100%;
  border: unset;
  outline: none;
  background: transparent;
  color: var(--title);
}
.card__common__item form i {
  color: var(--title);
}
.card__common__item .social li a {
  width: 36px;
  height: 36px;
  border: unset;
  background: rgba(26, 77, 190, 0.05);
}
.card__common__item .social li a i {
  color: var(--base);
}
.card__common__item .social li a:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
}
.card__common__item .social li a:hover i {
  color: var(--white);
}

.social2 li a {
  width: 36px;
  height: 36px;
  border: unset;
  background: rgba(26, 77, 190, 0.05);
}
.social2 li a i {
  color: var(--base);
}
.social2 li a:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
}
.social2 li a:hover i {
  color: var(--white);
}

.card__categories li a {
  transition: all 0.4s;
  border-radius: 100px;
  gap: 12px;
  padding: 12px 20px;
  background: rgba(26, 77, 190, 0.05);
}
.card__categories li a i {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--white);
  font-size: 18px;
}
@media (max-width: 1199px) {
  .card__categories li a span {
    font-size: 16px;
  }
}
.card__categories li a:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
}
.card__categories li a:hover span {
  color: var(--white);
}
.card__categories li:not(:last-child) {
  margin-bottom: 12px;
}

.balance__transferbody {
  padding: 20px;
}
@media (max-width: 575px) {
  .balance__transferbody {
    padding: 15px 10px;
  }
}

.balance__boxes {
  gap: 20px;
}
.balance__boxes .left__content .balance__list li {
  position: relative;
  padding-left: 8px;
}
.balance__boxes .left__content .balance__list li::before {
  position: absolute;
  top: 10px;
  left: 0;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--base);
}
.balance__boxes .left__content .balance__list li:not(:last-child) {
  margin-bottom: 8px;
}
@media (max-width: 1399px) {
  .balance__boxes {
    flex-wrap: wrap;
  }
  .balance__boxes .right__card {
    width: 100%;
  }
  .balance__boxes .right__card img {
    width: 100%;
  }
}

.purchase__quantity .quantity__box {
  background: rgba(26, 77, 190, 0.05);
  border-radius: 24px;
  padding: 5px;
  width: 150px;
  justify-content: space-around;
}
.purchase__quantity .quantity__box button {
  background: var(--base);
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: unset;
  outline: none;
}
.purchase__quantity .quantity__box input {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  width: 35px;
  font-family: "Inter", sans-serif;
  color: var(--title);
  border: unset;
  outline: none;
  background: transparent;
}

.iboxes {
  background: rgba(26, 77, 190, 0.05);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 5px;
}

.balance__cardfaq {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  padding: 20px;
}

.account__categories {
  gap: 17px;
}
.account__categories .account-cateitem {
  gap: 8px;
}
.account__categories .account-cateitem .form-check-input {
  margin-top: 0;
  outline: none;
  box-shadow: none;
}
.account__categories .account-cateitem .form-check-input:checked[type=radio] {
  background-image: none;
  background: url(../img/details/dot-check.png) no-repeat center center;
  background-size: 0.9vh;
}
.account__categories .account-cateitem .form-check-input:checked {
  background-color: var(--white);
  border-color: var(--base);
}
.account__categories .account-cateitem label {
  width: calc(100% - 22px);
}

.bank__checkitem {
  gap: 10px;
}
.bank__checkitem .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  box-shadow: none;
}
.bank__checkitem .form-check-input:checked {
  background-color: #2c51c0;
  border-color: var(--border);
}
.bank__checkitem .form-check-input:checked[type=checkbox] {
  background-image: none;
  background: url(../img/details/check.png) no-repeat center center;
  background-size: 0.25;
}

.range__barcustom .price-input {
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.range__barcustom .price-input .field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23%;
}
.range__barcustom .field input {
  width: 50%;
  height: 100%;
  outline: none;
  -moz-appearance: textfield;
  background: transparent;
  border: unset;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--text);
}
.range__barcustom .field input span {
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--text);
}
.range__barcustom input[type=number]::-webkit-outer-spin-button,
.range__barcustom input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.range__barcustom .price-input .separator {
  font-size: 19px;
  font-weight: 700;
  color: var(--title);
}
.range__barcustom .slider {
  height: 5px;
  position: relative;
  background: #CECECE;
  border-radius: 5px;
}
.range__barcustom .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #1c0bd7;
}
.range__barcustom .range-input {
  position: relative;
  display: flex;
  justify-content: center;
}
.range__barcustom .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.range__barcustom input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 7px;
  border-radius: 5px;
  background: var(--white);
  border: 1px solid var(--base);
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.gift__detailsleft {
  gap: 40px;
}
.gift__detailsleft .card__boxright {
  width: calc(100% - 300px);
}
@media (max-width: 1199px) {
  .gift__detailsleft {
    flex-wrap: wrap;
    gap: 20px;
  }
  .gift__detailsleft .card__boxright {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .bankd__wrapv2 {
    flex-wrap: wrap;
    gap: 10px;
  }
  .bankd__wrapv2 .left__border {
    padding-left: 0;
    margin-left: 0;
    border-left: unset;
  }
  .bankd__wrapv2 .bankd__wrap {
    width: 100%;
  }
}

.gift__card__item {
  position: relative;
}
.gift__card__item .thumb .shop__icon {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 16px;
}
.gift__card__item .thumb .shop__icon i {
  color: var(--base);
  font-size: 22px;
}

.google__play__wrapper {
  padding: 28px;
  background: var(--white);
}
.google__play__wrapper .google__items {
  background: rgba(26, 77, 190, 0.05);
  gap: 24px;
  border: 1px dashed var(--borderdot);
  padding: 20px 28px;
}
.google__play__wrapper .google__items:hover {
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
}
.google__play__wrapper .google__items:hover span {
  color: var(--white);
}
@media (max-width: 470px) {
  .google__play__wrapper {
    padding: 14px;
  }
  .google__play__wrapper .google__items {
    gap: 14px;
    padding: 15px 12px;
  }
}

.cart__wrapper {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  padding: 40px;
}
@media (max-width: 767px) {
  .cart__wrapper .table__responsive {
    overflow-x: scroll;
    margin-bottom: 15px;
  }
}
.cart__wrapper table {
  border-color: var(--border);
}
@media (max-width: 767px) {
  .cart__wrapper table {
    width: 500px;
  }
}
.cart__wrapper table thead tr th {
  padding-bottom: 16px;
}
.cart__wrapper .table > :not(:last-child) > :last-child > * {
  border-bottom: 1px solid var(--border);
}
.cart__wrapper .quantity__box {
  background: rgba(26, 77, 190, 0.03);
  padding: 2px 4px;
  text-align: center;
  width: 80px;
  border-radius: 16px;
}
.cart__wrapper .quantity__box input {
  border-radius: 16px;
  border: unset;
  outline: none;
  background: transparent;
  width: 35px;
  color: var(--title);
  text-align: center;
}
.cart__wrapper .quantity__box .rotates {
  transform: rotate(180deg);
}
.cart__wrapper .quantity__box button {
  border: unset;
  padding: 0;
  height: 24px;
  outline: none;
  background: transparent;
}
@media (max-width: 767px) {
  .cart__wrapper {
    padding: 10px 10px;
  }
}

.promot__coded form {
  border: 1px solid var(--border);
  border-radius: 100px;
  padding: 8px;
}
.promot__coded form input {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: var(--pragraph);
  padding: 8px 10px;
  border: unset;
}
.promot__coded form button {
  border: none;
  outline: none;
  min-width: 144px;
}
@media (max-width: 575px) {
  .promot__coded form button {
    min-width: 120px;
    padding: 7px 10px 11px;
    font-size: 14px;
  }
}

.max-240 {
  max-width: 240px;
}

.cart__totalwrap {
  background: rgba(26, 77, 190, 0.03);
  border: 1px solid var(--tableborder);
  padding: 30px 30px;
  max-width: 640px;
  margin-left: auto;
}
.cart__totalwrap .subtotal__list li span {
  width: 50%;
}
.cart__totalwrap .subtotal__list li .tbg {
  padding: 16px 20px;
  background: rgba(26, 77, 190, 0.04);
}
.cart__totalwrap .subtotal__list li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.billiong__addressbox {
  padding: 32px 32px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
}
.billiong__addressbox .write__review {
  padding: 0 0;
}
@media (max-width: 1199px) {
  .billiong__addressbox {
    padding: 25px 20px;
  }
}

.payment__methods {
  padding: 32px 32px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
}
.payment__methods .write__review {
  padding: 0 0;
}
@media (max-width: 1199px) {
  .payment__methods {
    padding: 25px 20px;
  }
}

.promo__box {
  background: var(--white);
  padding: 24px;
}

.ordersummary {
  padding: 24px;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
}
.ordersummary .ordelist:not(:last-child) {
  margin-bottom: 16px;
}

.successful__wrapper .icon {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  text-align: center;
  background: var(--base);
  margin: 0 auto 40px;
}
.successful__wrapper .icon i {
  font-size: 64px;
}
@media (max-width: 767px) {
  .successful__wrapper .d4 {
    font-size: 29px;
  }
}

.successful__print {
  gap: 32px;
}

.support__section {
  position: relative;
}
.support__section::before {
  width: 100%;
  height: 65%;
}

.search__content form {
  background: rgba(26, 77, 190, 0.03);
}
.search__content form input {
  background: transparent;
}

.support__helpitem {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
  padding: 32px 32px;
}
.support__helpitem .icon {
  background: rgba(26, 77, 190, 0.05);
  width: 100px;
  height: 100px;
  margin: 0 auto 32px;
  text-align: center;
}
.support__helpitem .icon i {
  font-size: 44px;
  color: var(--base);
}
.support__helpitem .outline__btn i {
  transition: all 0.4s;
}
.support__helpitem .outline__btn:hover span i {
  color: var(--white);
}

.contact__section {
  position: relative;
}
.contact__section::before {
  width: 100%;
  height: 45%;
  bottom: 0;
  content: "";
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  opacity: 0.05;
  position: absolute;
  z-index: -1;
}

.contact__wrapper {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.06);
  padding: 32px 32px;
}
.contact__wrapper form {
  background: transparent;
  padding: 0 0;
}
.contact__wrapper form .frm__grp button {
  border: unset;
}
@media (max-width: 991px) {
  .contact__wrapper {
    padding: 25px 20px;
  }
}

.help__emailitem {
  background: rgba(26, 77, 190, 0.03);
  padding: 32px 32px;
  border: 1px solid var(--border);
}
.help__emailitem .icon {
  width: 100px;
  height: 100px;
  border: 1px solid var(--border);
  margin: 0 auto 32px;
}
.help__emailitem .icon i {
  font-size: 40px;
  color: var(--base);
}

.signup__boxes {
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.04);
  background: var(--white);
  padding: 32px 32px;
}
@media (max-width: 1199px) {
  .signup__boxes {
    padding: 25px 18px;
  }
}
.signup__boxes form {
  padding: 0 0;
  background: transparent;
  border-radius: 0;
}
.signup__boxes form button {
  border: unset;
}

@media (max-width: 991px) {
  .signup__thumb {
    margin-top: 30px;
  }
}

.error__content {
  max-width: 636px;
  margin: 0 auto;
}

.faq__thumb {
  margin-bottom: -40px;
}

@keyframes cir90 {
  50% {
    transform: rotate(90deg);
  }
}
@keyframes cir360 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cir5 {
  50% {
    transform: rotate(10deg);
  }
}
.comment__details__wrapper {
  padding: 28px;
}
@media (max-width: 575px) {
  .comment__details__wrapper {
    padding: 20px;
  }
}

.sort__latest .nice-select {
  background: none;
  padding: 0;
  margin: 0;
  border: unset;
  width: 95px;
}
.sort__latest .nice-select .current {
  font-weight: 500;
  font-size: 16px;
}

.review__commentbox {
  padding: 24px 24px;
  border-radius: 16px;
  background: rgba(26, 77, 190, 0.03);
}
@media (max-width: 500px) {
  .review__commentbox {
    padding: 14px 14px;
  }
}

.cmn__replaybox .replays {
  gap: 40px;
}

.discussion {
  gap: 20px;
}
.discussion input {
  border: 1px solid var(--border);
  padding: 16px 20px;
  color: var(--title);
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 100%;
  border-radius: 100px;
}
.discussion ::-moz-placeholder {
  color: var(--title);
}
.discussion ::placeholder {
  color: var(--title);
}

.write__review {
  padding: 24px 24px;
  border-radius: 16px;
  background: var(--white);
}
.write__review .frm__grp input {
  background: rgba(26, 77, 190, 0.03);
  border-radius: 100px;
  color: var(--pragraph);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid var(--border);
  outline: none;
}
.write__review .frm__grp ::-moz-placeholder {
  color: var(--pragraph);
}
.write__review .frm__grp ::placeholder {
  color: var(--pragraph);
}
.write__review .frm__grp textarea {
  background: rgba(26, 77, 190, 0.03);
  border-radius: 30px;
  color: var(--pragraph);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  padding: 12px 24px;
  border: 1px solid var(--border);
  outline: none;
}

.related__card {
  padding: 24px;
  background: var(--white);
}
.related__card .card__related__item {
  gap: 24px;
}
@media (max-width: 1399px) {
  .related__card .card__related__item {
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .related__card .card__related__item {
    flex-wrap: nowrap;
  }
  .related__card .card__related__item .related__thumb {
    max-width: 270px;
  }
}
@media (max-width: 500px) {
  .related__card .card__related__item {
    flex-wrap: wrap;
  }
}
@media (max-width: 500px) {
  .related__card {
    padding: 14px;
  }
}

.compare__search {
  height: 100%;
}
.compare__search img {
  border-radius: 16px;
}

@media (max-width: 500px) {
  .com__btn .cmn--btn {
    font-size: 14px;
  }
}

.additional__info {
  padding: 32px;
}
.additional__info .addi__head {
  padding: 16px 24px;
  background: rgba(26, 77, 190, 0.05);
}
.additional__info table {
  border: unset;
}
.additional__info table tr td {
  padding: 13px 13px 10px;
  border-bottom: 1px solid var(--tableborder);
}
@media (max-width: 767px) {
  .additional__info .table__here {
    overflow-x: scroll;
  }
  .additional__info .table__here table {
    width: 600px;
  }
}
@media (max-width: 575px) {
  .additional__info {
    padding: 18px;
  }
  .additional__info .addi__head {
    padding: 15px 15px;
    font-size: 18px;
  }
}

.reset__filter {
  border: 1px solid var(--base);
  border-radius: 100px;
  padding: 13px 10px 13px;
  text-align: center;
}

.blog__bigitem img {
  width: 100%;
  border-radius: 16px;
}

.blog__content {
  padding: 20px 24px 24px;
}
.blog__content .cmn--btn {
  width: 180px;
  text-align: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .blog__content {
    padding: 15px 14px 14px;
  }
}
@media (max-width: 500px) {
  .blog__content h3 {
    font-size: 22px;
  }
}

.blog__addmin {
  gap: 20px;
}
.blog__addmin li:not(:first-child) {
  padding-left: 20px;
}
.blog__addmin li:not(:first-child)::before {
  position: absolute;
  left: 0;
  top: 13px;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--pragraph2);
}

.social__tag {
  gap: 8px;
}
.social__tag a {
  border: 1px solid var(--border);
  font-size: 14px;
  font-weight: -400;
  color: var(--pragraph2);
  border-radius: 100px;
  padding: 8px 16px;
}

.blog__recentpost a {
  gap: 24px;
}
.blog__recentpost img {
  border-radius: 16px;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog__recentpost .contentbox {
  width: calc(100% - 100px);
}
@media (max-width: 1199px) {
  .blog__recentpost a {
    gap: 14px;
  }
  .blog__recentpost a img {
    width: 60px;
    height: 60px;
  }
  .blog__recentpost .contentbox {
    width: calc(100% - 60px);
  }
  .blog__recentpost .contentbox .textbold {
    font-size: 14px;
    margin-bottom: 2px;
  }
  .blog__recentpost .contentbox span {
    font-size: 12px;
  }
}

.footer__section {
  background: var(--footer);
}

.quick__link li:not(:last-child) {
  margin-bottom: 7px;
}

.footer__contact li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__contact li a span {
  width: calc(100% - 40px);
  display: block;
}

@media (max-width: 1399px) {
  .footer__item .footer__logo {
    max-width: 200px;
  }
  .footer__item .footer__logo img {
    width: 100%;
  }
}
.footer__item form {
  justify-content: space-between;
  border-radius: 100px;
  border: 1px solid var(--base);
  padding: 8px;
}
.footer__item form input {
  outline: none;
  height: 52px;
  width: 100%;
  border-radius: 30px;
  border: unset;
  background: transparent;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
}
.footer__item form ::-moz-placeholder {
  color: var(--white);
}
.footer__item form ::placeholder {
  color: var(--white);
}
.footer__item form .cmn--btn {
  border: unset;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__item form .cmn--btn i {
  margin: 0;
  padding: 0;
}

.footer__bottom {
  justify-content: space-between;
  padding: 32px 0;
  border-top: 1px solid var(--title);
}
@media (max-width: 991px) {
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 0;
  }
}
.footer__bottom p {
  text-align: center;
}
@media (max-width: 450px) {
  .footer__bottom {
    padding: 25px 0;
  }
}

.help__support {
  gap: 24px;
}
@media (max-width: 450px) {
  .help__support {
    flex-wrap: wrap;
    gap: 2px 20px;
    justify-content: center;
  }
}

.subcribtion__wrapper {
  border-radius: 16px;
  padding: 80px 0 80px;
  background: #fff;
  transform: translateY(-200px);
  margin-bottom: -200px;
  margin-top: 200px;
}
.subcribtion__wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  opacity: 0.1;
  border-radius: 16px;
}
.subcribtion__wrapper .subscribe__content {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  opacity: 1;
}
.subcribtion__wrapper .subscribe__content form {
  justify-content: space-between;
  background: var(--white);
  border-radius: 100px;
  padding: 12px 12px;
}
.subcribtion__wrapper .subscribe__content form input {
  width: 100%;
  background: transparent;
  outline: none;
  border: unset;
  color: var(--pragraph2);
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 575px) {
  .subcribtion__wrapper .subscribe__content form input {
    padding-left: 8px;
    font-size: 12px;
  }
}
.subcribtion__wrapper .subscribe__content form .cmn--btn {
  padding: 0;
  width: 180px;
  padding: 5px 5px 8px;
  height: 45px;
  border: unset;
}
@media (max-width: 575px) {
  .subcribtion__wrapper .subscribe__content form .cmn--btn {
    font-size: 14px;
  }
}
.subcribtion__wrapper .ball {
  position: absolute;
  top: 60px;
  right: 100px;
  width: 150px;
  height: 150px;
  animation: cir360 8s linear infinite;
  z-index: -1;
}
.subcribtion__wrapper .ball img {
  width: 100%;
}
.subcribtion__wrapper .rarrow1 {
  position: absolute;
  bottom: 112px;
  left: 86px;
  z-index: -1;
}
@media (max-width: 991px) {
  .subcribtion__wrapper .rarrow1 {
    display: none;
  }
}
.subcribtion__wrapper .rarrow2 {
  position: absolute;
  bottom: 0px;
  right: 86px;
  z-index: -1;
}
@media (max-width: 991px) {
  .subcribtion__wrapper .rarrow2 {
    display: none;
  }
}
@media (max-width: 767px) {
  .subcribtion__wrapper {
    padding: 60px 20px 60px;
  }
  .subcribtion__wrapper h2 {
    font-size: 29px;
  }
}
@media (max-width: 575px) {
  .subcribtion__wrapper {
    padding: 40px 15px 50px;
  }
  .subcribtion__wrapper h2 {
    font-size: 22px;
  }
  .subcribtion__wrapper p {
    font-size: 14px;
  }
}

.subscribtion__wrappertwo::before {
  display: none;
}

/*--Button Area Start--*/
/*--Button Area Start--*/
.cmn--btn {
  border-radius: 100px;
  padding: 12px 25px 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  background: linear-gradient(90deg, #1A4DBE 0%, #AE5EBE 100%);
  overflow: hidden;
}
.cmn--btn span {
  position: relative;
  z-index: 1;
  transition: all 0.5s;
  color: var(--white);
}
.cmn--btn::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 0px;
  height: 0px;
  background: linear-gradient(101.84deg, #452FF4 1.08%, rgba(178, 65, 226, 0.7725490196) 98.75%);
  transition: all 0.5s;
}
.cmn--btn:hover::before {
  width: 100%;
  height: 100%;
}

.outline__btn {
  background: transparent;
  border: 1px solid var(--base);
  padding: 11px 25px 13px;
}
.outline__btn span {
  color: var(--base);
}
.outline__btn:hover span {
  color: var(--white);
}

/*--Button Area End--*/
/*--Button Area End--*//*# sourceMappingURL=main.css.map */